/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt

*.il2cpp.workspace
/Assets/Scenes/Ice_Map_1.0.unity
/Assets/Scenes/Ice_Map_1.0.unity.meta
/Assets/Scenes/SandMap 1-3.unity
/Assets/Scenes/SandMap 1-3.unity.meta
/Assets/Prefabs/MainGameView.prefab.meta
/Assets/Scenes/BossRoomSand.unity.meta
/Assets/_Recovery.meta
/Assets/Scenes/BossRoomSand.unity
/Assets/Scenes/Ice_Map_1.0.unity
/Assets/Prefabs/MainGameView.prefab
/.gitignore
/.gitignore
/.gitignore
/Assets/_Recovery/0.unity
